/* line 11, ../../sass/LippyStyle.scss */
body, html {
  padding: 0;
  margin: 0; }

/* line 17, ../../sass/LippyStyle.scss */
header {
  width: 100%;
  background-color: white;
  height: 100px; }

/* line 24, ../../sass/LippyStyle.scss */
footer {
  width: 100%;
  height: 25px;
  background-color: white;
  font-family: "Oswald", sans-serif;
  color: black;
  text-align: center;
  border-top: solid #b71515; }

/* line 34, ../../sass/LippyStyle.scss */
footer h6 {
  margin-top: 15px; }

/* line 38, ../../sass/LippyStyle.scss */
#content {
  width: 100%;
  background-color: white; }

/* line 45, ../../sass/LippyStyle.scss */
.logo {
  width: 140px;
  height: 74px;
  padding-left: 20px;
  position: relative;
  top: 12px;
  left: 70px; }

/* line 54, ../../sass/LippyStyle.scss */
.buttonstyle {
  padding: 10px 50px 10px 50px;
  display: inline-block;
  width: 250px;
  background-color: black;
  margin-left: -247px;
  text-align: center;
  text-decoration: none;
  font-family: "Questrial", sans-serif;
  color: white;
  border: 0 none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold; }

/* line 72, ../../sass/LippyStyle.scss */
.form_position {
  position: relative;
  top: 300px; }

/* line 77, ../../sass/LippyStyle.scss */
#buttonbox {
  height: 120px;
  width: 600px;
  top: -90px;
  left: 600px;
  position: relative; }

/* line 87, ../../sass/LippyStyle.scss */
#uploadbackground {
  width: 100%;
  height: 500px;
  background-color: white;
  background-image: url("../img/makesmears.png");
  background-repeat: no-repeat;
  text-align: center; }

/* line 96, ../../sass/LippyStyle.scss */
#start {
  position: relative;
  top: 320px;
  color: black;
  background-color: aliceblue; }

/* line 104, ../../sass/LippyStyle.scss */
.search {
  width: 400px;
  height: 30px;
  font-family: "Questrial", sans-serif;
  font-size: 10px;
  color: #b71515;
  position: relative;
  top: -103px;
  left: 740px; }

/* line 116, ../../sass/LippyStyle.scss */
.fontstyle {
  position: relative;
  top: -40px;
  left: 100px; }

/* line 122, ../../sass/LippyStyle.scss */
#box {
  text-align: center;
  height: 350px;
  width: 100%;
  background-color: black; }

/* line 129, ../../sass/LippyStyle.scss */
.OptionsBox {
  text-align: center;
  height: 380px;
  width: 100%;
  background-color: black; }

/* line 135, ../../sass/LippyStyle.scss */
.OptionsContainer {
  height: 350px;
  margin: 0 auto;
  width: 100%;
  border-top: solid #b71515; }

/* line 140, ../../sass/LippyStyle.scss */
.info_box {
  width: 500px;
  height: 300px;
  background-color: white;
  margin: 10px 5px 0px 6px;
  cursor: pointer; }

/* line 147, ../../sass/LippyStyle.scss */
.float {
  float: left; }

.clear {
  clear: both; }

.the_box {
  width: 400px;
  height: 310px;
  position: relative;
  left: -8%;
  margin-right: 7px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #3b3b3b; }

/* line 151, ../../sass/LippyStyle.scss */
.space {
  width: 400px;
  height: 240px;
  border-radius: 6px; }

/* line 157, ../../sass/LippyStyle.scss */
/* line 165, ../../sass/LippyStyle.scss */
.boximage {
  width: 100px;
  height: 100px; }

/* line 169, ../../sass/LippyStyle.scss */
.textcntrl {
  width: 190px; }

/* line 173, ../../sass/LippyStyle.scss */
.OptionStyle {
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  color: white; }

/* line 185, ../../sass/LippyStyle.scss */
/* line 189, ../../sass/LippyStyle.scss */
div.custom_file_upload {
  width: 330px;
  height: 20px;
  margin: 40px auto; }

/* line 195, ../../sass/LippyStyle.scss */
input.file {
  width: 330px;
  height: 33px;
  border: 1px solid #BBB;
  border-right: 0;
  color: #888;
  padding: 5px;
  outline: none; }

/* line 205, ../../sass/LippyStyle.scss */
div.file_upload {
  width: 190px;
  height: 24px;
  background: black;
  display: inline;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  font-weight: bold;
  color: #FFF;
  font-family: "Questrial", sans-serif;
  text-align: center;
  padding-top: 8px; }

/* line 220, ../../sass/LippyStyle.scss */
div.file_upload:before {
  content: 'Upload Photo';
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  cursor: pointer; }

/* line 229, ../../sass/LippyStyle.scss */
div.file_upload input {
  position: relative;
  height: 30px;
  width: 290px;
  display: inline;
  cursor: pointer;
  opacity: 0; }

/* line 238, ../../sass/LippyStyle.scss */
.loader {
  z-index: 700;
  position: absolute;
  display: none; }

/* line 244, ../../sass/LippyStyle.scss */
.welcome {
  z-index: 199;
  background-color: snow;
  height: 550px;
  position: absolute;
  width: 600px;
  left: 50%;
  margin-left: -247px;
  text-align: center;
  border-radius: 12px; }

/* line 257, ../../sass/LippyStyle.scss */
.welcomelogo {
  width: 350px;
  height: 190px; }

/* line 262, ../../sass/LippyStyle.scss */
.welcome_note {
  font-family: "Questrial", sans-serif;
  padding-right: 50px;
  padding-left: 50px; }

/* line 268, ../../sass/LippyStyle.scss */
.enjoy {
  width: 150px;
  height: 90px; }

/* line 273, ../../sass/LippyStyle.scss */
.exit {
  width: 20px;
  height: 20px;
  text-align: right;
  position: relative;
  left: 440px;
  top: -150px;
  cursor: pointer; }

/* line 283, ../../sass/LippyStyle.scss */
.search_terms {
  color: black;
  font-family: "Questrial", sans-serif;
  position: relative;
  top: -78px;
  left: 741px;
  width: 300px; }

/* line 292, ../../sass/LippyStyle.scss */
#Message {
  font-family: "Questrial", sans-serif;
  position: relative;
  top: 320px;
  font-size: 20px;
  background-color: white; }

/* line 300, ../../sass/LippyStyle.scss */
.PictureUpload {
  width: 100%;
  height: 600px;
  background-color: snow;
  position: absolute;
  z-index: 200;
  font-family: "Questrial", sans-serif;
  left: 38%;
  margin-left: -319px;
  border-radius: 12px;
  display: none;
  text-align: center; }

/* line 314, ../../sass/LippyStyle.scss */
.footerlogo {
  height: 30px;
  width: 80px;
  margin-top: 10px; }

/* line 321, ../../sass/LippyStyle.scss */
.overlay {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); }

/* line 332, ../../sass/LippyStyle.scss */
#canvas_picker {
  cursor: crosshair; }

/* line 336, ../../sass/LippyStyle.scss */
canvas {
  background: #ddd;
  margin: 10px; }

/* line 340, ../../sass/LippyStyle.scss */
#picked {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 3px;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  color: white;
  background-color: black; }

/* line 351, ../../sass/LippyStyle.scss */
#submitlip {
  float: left;
  width: 300px;
  height: 500px;
  margin-top: 5px; }

#submitlip ul li {
  list-style: none; }

/* line 358, ../../sass/LippyStyle.scss */
#formbox {
  width: 100%;
  height: 700px;
  text-align: center; }

#lipp {
  border: solid; }

#formproductsadd {
  width: 900px;
  height: 410px;
  background-color: snow;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 6px;
  font-family: "Questrial", sans-serif;
  border: solid blue; }

#formproductsadd ul {
  list-style: none; }

#formproductsadd ul li input {
  width: 300px;
  padding: 5px; }

#formproductsadd ul li label {
  display: block;
  margin-left: -210; }

/*# sourceMappingURL=app.css.map */